@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --clr-team: hsl(0, 78%, 62%);
  --clr-supervisor: hsl(180, 62%, 55%);
  --clr-karma: hsl(34, 97%, 64%);
  --clr-calculator: hsl(212, 86%, 64%);
  --text-clr-bold: hsl(234, 12%, 34%);
  --text-clr-normal: hsl(229, 6%, 66%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-bottom: 5rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-clr-normal);
}

h1, 
h2 {
  color: var(--text-clr-bold);
}

.wrapper {
  max-width: 1200px;
  padding-inline: 2rem;
  margin-inline: auto;
}

.wrapper--narrow {
  max-width: 550px;
}

header {
  margin-block: 6rem;
  text-align: center;
}

h1 {
  font-size: 1.53rem;
  font-weight: 200;
}

@media (min-width: 767px) {
  h1 {
    font-size: 2.2rem;
  }
}

header p {
  font-size: 1.12rem;
}

ul {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "cardS"
    "cardB"
    "cardK"
    "cardC";
  gap: 2rem;
  padding-left: 0;
  list-style: none;
}

@media (min-width: 767px) {
  ul {
    grid-template-areas: 
      "cardS cardB"
      "cardS cardB"
      "cardK cardC"
      "cardK cardC";
  }
}

@media (min-width: 1000px) {
  ul {
    grid-template-areas: 
      "..... cardB ....."
      "cardS cardB cardC"
      "cardS cardK cardC"
      "..... cardK .....";
  }
}

li {
  --br: 5px;
  padding: 2rem;
  border-top: var(--br) solid;
  border-radius: var(--br);
  box-shadow: 0 16px 24px -8px rgb(0 50 100 / .15);
}

li:nth-child(1) {
  grid-area: cardS;
  border-color: var(--clr-supervisor);
}

li:nth-child(2) {
  grid-area: cardB;
  border-color: var(--clr-team);
}

li:nth-child(3) {
  grid-area: cardK;
  border-color: var(--clr-karma);
}

li:nth-child(4) {
  grid-area: cardC;
  border-color: var(--clr-calculator);
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
}

li img {
  display: block;
  margin-left: auto;
  margin-top: 2rem;
}